.X {width:12px;}

.imgWidth {
  padding:5px;
  opacity: .5;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.imgWidth:hover {
  opacity: 0.9;
}

.productInfo {
  display: flex;
  font-size: 16px;
}

.itemImg {
  padding:10px;
  aspect-ratio: 3 / 2;
  width:150px;
  object-fit: contain;
}

.inputs {
  display: flex;
  gap:42px;
  padding-right: 13px;
}

.SummaryItem {
  display: flex;
  gap:15px;
  border-bottom: 1px solid rgb(236, 236, 236);
  align-items: center;
}

.summaryImg {
  width:100px;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}

.summaryInfo p, h5 {
  font-size: 14px; 
  margin-block-start: 0;
  margin-block-end: 0;
}

.product p, .price{
  font-weight: 600;
}

.priceWrapper {
  display: flex;
  gap:30px;
}
