input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.input {
  width:50px;
  /* margin-left: 25px; */
  border:1px solid rgba(217, 211, 211);
  outline: none;
  text-align: center;
  background-color: rgba(217, 211, 211, .3);
  display: flex;
  border-radius: 5px;
}