.shippingScreenWrapper{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 1140px;
  height: 80vh;
}

.title {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 1.375rem;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.shippingForm {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.Details {
  display: flex;
  align-items: center;
  gap:10px;
}

.Details p {
  font-weight: 600;
  width: 8rem;
}

.Address {
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  font-weight: 600;
}

.AddressInput {width: 100%;}

.inputsBorder, option {
  background:  rgba(236,236,236);
  width:8rem;
}

.shippingLayout { display: flex;}

.bottomButtons { 
  display:  flex;
  justify-content: space-between;
  position: absolute;
  left:0;
  bottom:0;
  padding:0 0 10px 10px;
}

.bottomButtons button {
  cursor: pointer;
  padding:10px ;
  width: 150px;
}