.form {
  padding: 20px 30px; 
  box-shadow: 0 0 10px 10px rgb(241,241,241);
  user-select: none;
  font-weight: 500;
  color:rgb(146,146,146);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: fit-content;
}


.imgWidth {
  width:15px;
  position: absolute;
  right: 0;
  top:0;
  padding:10px;
  opacity: .3;
  transition: all .5s ease-in-out;
}

.imgWidth:hover {
  opacity: 0.9;
}


input[type=radio].radio {
  accent-color: rgb(204, 44, 83);
}