.inputsBorder {
  border:none;
  outline: none;
  width: 100%;
}

.inputsWrapper {
  border:2px solid rgb(236,236,236);
  display: flex;
  justify-content: space-between;
  padding:5px 5px;
  outline: none;
  align-items: center;
}

.errorWrapper {display: flex; flex-direction: column;}

.imgWidth {
  filter: invert(100%) contrast(75%);
  width: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;;
}

.imgWidth:hover {
  filter: invert(80%) contrast(40%);
}

.cardIcons {
  width:35px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}